* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 480px;
    background-color: #1f2937;
    padding: 16px 48px 40px;
}

.header
.header-content {
    height: 100%;
}

.contents {
    height: 480px;
}

.quote {
    height: 480px;
    background-color:#e5e7eb;
}

.sign-up {
    height: 320px;

}

.footer {
    height: 80px;
    background-color: #1f2937;
}