* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    height: 480px;
    background-color: #1f2937;
    padding: 16px 48px 40px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2 {
    font-size: 24px;
    color: #f9faf8;
}

p,
ul {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    padding: 8px;
    width: 104px;
    background-color: #3882f6;
    font-size: 16px bold;
    color: #f9faf8;
    border-radius: 24px;
}

.header
.header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-content-links {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header-content-body {
    height: 240px;

    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.header-content-body-intro {

    display: flex;
    flex-direction: column;
    gap: 16px;

    flex: 1;
}

.header-content-body-image {
    /* border: 10px solid rebeccapurple; */
    flex: 1;
}

.header-content-body-image
img {
    height: 100%;
    width: 100%;
}

.contents {
    height: 480px;
    padding: 32px 48px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.quote {
    height: 400px;
    background-color:#e5e7eb;
    padding: 48px 72px;
}

.quote-content {
    height: 100%;
    width: 100%;
    padding: 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
}

.quote-content-text
p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: end;
}

.sign-up {
    height: 320px;
    padding: 32px 48px;

}

.signup {
    height: 280px;
    padding: 56px 80px;
}

.signup-contents {
    height: 100%;
    width: 100%;
    background-color: #3882f6;
    padding: 48px;
}

.signup-contents-content {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    height: 80px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}